*{
    margin: 0;
    padding: 0;
    font-family: 'Work Sans', sans-serif;
}
/* this is header area start */
header{
    background-image: url(../images/banner/banner3.png);
    background-size: cover;
    background-repeat: no-repeat; 
    height: 750px;
}
section{
    width: 1140px;
    margin: 0 auto;
}
.banner{
    text-align: right;
    
}
.banner-title{
    color: #FFFFFF;
    font-weight: 700;
    font-size: 65px;
    padding-top: 200px;
    padding-bottom: 20px;
    
}
.banner-description{
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 400;
    padding-bottom: 30px;
}
.btn-primary{
    background-color: #FFFFFF;
    color: rgb(9, 52, 243);
    border: none;
    font-weight: 400;
    font-size: 20px;
    padding: 10px 15px;
    border-radius: 5px;
}
/* end of header area */


/* this is failures area */
.failures-area{
    display: flex;
    padding-top: 140px;
    padding-bottom: 100px;

}
.failures-imag{
    
}
.failure-containt{
    padding-left: 100px;
}
.section-title{
    color: #151414;
    font-size: 30px;
    font-weight: 700;
    padding-top: 240px;
    padding-bottom: 20px;
   
}
.section-description{
    color: #444343;
    font-size: 16px;
    font-weight: 400;
    padding-bottom: 15px;
}
.lists{
    padding-left: 20px;
}
.lists ol li{
    list-style: circle;
    padding-bottom: 10px;
    color: #444343;
    font-size: 16px;
    font-weight: 400;
    
}


/* this is failures area */